/.idea/
/backend/node_modules/
/backend/package-lock.json
/frontend-user/package-lock.json
/frontend-user/node_modules/
/package-lock.json
/frontend-user/.eslintcache
/frontend-user/.env
/backend/.env
/frontend-admin/package-lock.json
/frontend-admin/node_modules/
/frontend-admin/.eslintcache
/frontend-admin/.env
