<span>
  Hello <span style="font-weight: bold">{{username}}</span>,
</span>
<p>
  Please click the link below to verify your account.
</p>

<p>
  Click here: <i><a href="{{ url }}">{{url}}</a></i>
</p>
<p>
  If you did not create an account, no further action is required.
</p>
<p>
  Regards,
</p>
<p>
  SotatekStarter system
</p>
